<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Distype</title>
</head>
<body>
    <div class="navbar">
        <div class="tlcontainer">
            <h1>Distype</h1>
        </div>
    </div>
    <div class="tlcontainer">
        <div id="main-workspace">
            <div id="guilds" class="list-section section">

                <p class="heading">Guilds</p>

                <div class="list-section_list">

                     <div class="item">
                        <p class="title">Some Guild</p>
                     </div>
                     
                </div>
            </div>

            <div id="main-input" class="section">

            </div>

            <div id="channels" class="list-section section" >

                <p class="heading">Channels</p>
                
            </div>

        </div>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>